# eclipse project files and folders
.profile
.cprofile
.settings
.asciidoctorconfig.adoc
compile_commands.json
ci/sshconfig

# Temporary folders for building and/or testing
__pycache__
_build
_demo
dist-*
b
bld
**/build
**/build-*
doc/source/generated
r
release
*.swp
